  <form [formGroup]="UserForm">
    <div class="row">
      <div class="col-12">
          <app-label Required="true" LabelText="Name" ></app-label>
        <input class="form-control" formControlName="name" [(ngModel)]="UserData.name" />
        <app-validation-message propertyName="name" [MessageArray]="UserValidationMessages" [FormGroupName]="UserForm"></app-validation-message>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
        <app-label Required="true" LabelText="Email" ></app-label>
      <input class="form-control" formControlName="email" [(ngModel)]="UserData.email" />
      <app-validation-message propertyName="email" [MessageArray]="UserValidationMessages" [FormGroupName]="UserForm"></app-validation-message>
    </div>
  </div>
  <div class="row" [hidden]="UserData.id > 0">
  <div class="col-12">
      <app-label Required="true" LabelText="Password" ></app-label>
    <input class="form-control" formControlName="password" [(ngModel)]="UserData.password" />
    <app-validation-message propertyName="password" [MessageArray]="UserValidationMessages" [FormGroupName]="UserForm"></app-validation-message>
  </div>
</div>
  </form>
  <hr>
  <button type="button" *ngIf="UserData.id == 0" [disabled]="UserForm.invalid"  class="btn btn-success" style="width: 100px;" (click)="CreateOrUpdate()">Save</button>
  <button type="button" *ngIf="UserData.id > 0" [disabled]="UserForm.invalid" class="btn btn-success" style="width: 100px;" (click)="CreateOrUpdate()">Update</button>
  <!-- <button type="button" *ngIf="UserData.id > 0" class="btn btn-success" style="width: 100px;" (click)="Delete()" class="ui-button-danger pull-right">Delete</button> -->
